//// COLORS
$color-primary: #4a148c;
$color-white: #fff;
$color-grey: #d7d7d7;
$color-grey-light: #f8f8f8;
$color-grey-dark: #222;
$color-blue: #1fa0ca;
$color-cyan: 	#30D5C8;
$color-navy: 	#000080;

///// TYPOGRAPHY
$font-primary: "Oswald-Regular", sans-serif;
$font-secondary: "Poppins", sans-serif;
$font-secondary-bold: "PoppinsSemiBold", sans-serif;
$font-heading: 'Ubuntu', sans-serif;
